.content {
  height: 92vh;
  width: 100%;
  background-color: #eaedf0;
}

.login-bg {
  height: 75%;
  background: url(../assets/images/Map.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  display: flex;
}

.login-text-block {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 20vh;
}

.login-card-block {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #ffffff;
  width: 30%;
  height: 73%;
  box-shadow: 0 20px 20px 0;
  position: absolute;
  top: 8vh;
  right: 15vh;
  padding: 5vh;
}

.text-bg {
  height: 25%;
  background: url(../assets/images/Bg.jpg) no-repeat bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20vh;
}

.footer {
  height: 8vh;
  width: 100%;
}

.footer-design {
  border-top: 3vh solid #00030a;
  border-right: 4vh solid transparent;
  position: absolute;
  right: 28vh;
}

.text-content {
  font-size: 16px;
  font-weight: 500;
}

.logo img {
  width: 45%;
  margin-bottom: 2vh;
}

.title-text {
  margin: 0;
  color: #515254;
}

.text-lists {
  font-size: 19px;
}

.list {
  display: flex;
  align-items: center;
  margin: 2vh 0;
}

.l-icon {
  height: 5vh;
  width: 5vh;
  margin-right: 2vh;
  background: #92b9e2;
  border-radius: 100%;
  display: inline-block;
}

.l-text .text {
  font-size: 19px;
  font-weight: 500;
  margin: 0;
  color: #515254;
}

.l-text .hint {
  font-size: 15px;
  font-weight: 100;
  margin: 0;
  color: #989a9a;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left,
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons,
.footer-texts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons {
  width: 15%;
}

.footer-texts {
  width: 50%;
  font-size: 12px;
}

.icons img {
  width: 15%;
  cursor: pointer;
}

.right-text {
  font-size: 13px;
}

.text1,
.text2 {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 3vh !important;
}

.text3 {
  font-size: 26px;
  color: #ffffff;
}
